
<%- include("header") -%>
<h1>Jacob Historymaker</h1>
<p>I am a software engineer</p>
<p>I love:
  <ul>
    <li>Web development</li>
    <li>Saying yes to new chalenges</li>
    <li>Spending time with my wife</li>
  </ul>
</p>
<%- include("footer") -%>
